//Breakpoints for forming queries for different modes: mobile, tablet, desktop
$width-tablet: 768px;
$width-mobile: 414px;

//Basic colors for use across the page

$main-oxford-blue: #222935;
$main-shamrock: #26c17e;
$main-raven: #667081;
$main-gallery: #eeeeee;
$main-white: #ffffff;
$main-midnight: #000614;
$main-black: #000000;
$main-alto: #dddddd;
$main-red: #ff0000;

//Basic fonts for use across the page
$font-family-main: "open_sans";
$font-family-fallback: sans-serif;
